.App {

}


.App-header {
  background: linear-gradient(160deg, #87ceeb, #00008b);
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
